.main-title {
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;

}

body {
  background-color:#9395D3;
  color: white;

}

.header {
  background-color:#B3B7EE;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.tips {
  margin-top:10px;
}

.tips2 {
  /* text-align:center; */
  margin-top:10px;
}

.tips3 {
  /* text-align:center; */
  margin-top:10px;
}

.tips4 {
  /* text-align:center; */
  margin-top:10px;
}

.snoopy{
  width:300px;
  height:300px;
  margin:auto;
  justify-content: center;
  /* margin-top: 10px; */
  margin:5px
}

.articles_div{
  margin:auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  display: flex;
  gap:50px;
  flex-wrap: wrap;
  width:950px;
}

.article1_title{
  font-family: Verdana, Geneva, sans-serif;
  color: white;
  text-align: center;
  text-decoration: none;
  margin:15px;
  width:250px;
  margin:auto;
}

.article1 {
  display: flex;
  flex-direction: column;
}
.article2 {
  display: flex;
  flex-direction: column;
}

.article3 {
  display: flex;
  flex-direction: column;
}

.article4 {
  display: flex;
  flex-direction: column;
}

.article2_title{
  font-family: Verdana, Geneva, sans-serif;
  color: white;
  text-align: center;
  text-decoration: none;
  width:250px;
  margin:auto;
  margin:15px;
}

.article3_title {
  font-family: Verdana, Geneva, sans-serif
  color: white;
    margin:auto;
    width:250px;
  text-align: center;
  text-decoration: none;
  margin:15px;
}

.article4_title {
  font-family: Verdana, Geneva, sans-serif;
  color: white;
  margin:auto;
  width:250px;
  text-align: center;
  text-decoration: none;
  margin:15px;
}

img:hover {
  opacity:0.5;
}

.article1_title:hover{
  opacity:0.5;
}

.article2_title:hover{
  opacity:0.5;
}

.article3_title:hover{
  opacity:0.5;
}

.article4_title:hover{
  opacity:0.5;
}

.page_title {
  justify-content: center;
  text-align: center;
}

h1{
  font-family: Verdana, Geneva, sans-serif;
}

a {
  font-family: Verdana, Geneva, sans-serif;
  color: white;
}

ul {
    text-align: center;
    list-style-position: inside;
}
